.nav-bar-container {
	height: 55px;
	max-width: 1000px;
	padding: 6px 10px;
	margin: 0 auto 0;
	z-index: 3;
}

.main-logo {
	font-family: 'Orbitron', sans-serif;
	text-decoration: none;
	color: gold;
}

.search-bar-container {
	display: inline-block;
	margin-left: 25px;
}

.search-bar-input, .search-bar-btn {
	display: inline-block;
	height: 40px;
	background-color: white;
	border-style: none;
}

.fa-search {
	color: white;
}

.search-bar-input {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 15px;
}

.search-bar-btn {
	background-color: #19ABFF;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 1px black solid;
	cursor: pointer;
}

.search-bar-btn:hover {
	background-color: #72cdff;
}

h2 {
	display: inline-block;
	margin: 0;
	vertical-align: middle;	
}

ul	{
	display: inline-block;	
}

li {
	display: inline-block;
	text-decoration: none;
	padding-right: 15px;
	vertical-align: middle;	
}

.signup-login-container, .username-display-container {
	display: inline-block;
	float: right;
}

.username-display-container {
	margin-top: 10px;
}

.user-profile-link {
	text-decoration: none;
	color: gold;
	font-size: 18px;

}

.user-profile-link:hover {
	color: yellow;
}

.fa-sign-out-alt {
	margin-left: 10px; 
	color: #19ABFF;
}

.fa-sign-out-alt:hover {
	color: #1BC0FF;
}

.clear-both {
	clear: both;
}