.slider-item-container {
	display: block;
	padding: 0 10px;
	width: 50%;
	text-align: center;
}

.slider-img-container {
	height: 250px;
	width: 100%;
	overflow: hidden;
	border: 1px black solid;
	background-color: black;
}

.slider-img {
	display: block;
	position: relative;
	bottom: auto;
	left: auto;
	vertical-align: center;
	height: auto;
	width: 100%;
	margin: 0 auto;
}
 .slider-link {
 	text-decoration: none;
 }
 
.slider-item-info-container {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 65px;
	overflow: auto;
}

.slider-item-title {
	overflow: auto;
}

.slider-item-title:hover {
	color: #1BC0FF;
}

.slider-genre-display {
	font-size: 13px;
	font-style: italic;
}