.side-content-section-container {
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	word-break: break-all;
}

label {
	font-weight: bold;
}

.esrb-img, .pegi-img {
	margin-left: 20px;
	height: 150px;
	width: auto;
}