.parallax-container {
	position: absolute;
    left: 0;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.parallax-container:after {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(transparent 0%, transparent 65%, rgba(0,0,0,0.25) 100%);
    overflow: hidden;
}

.game-profile-banner {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    -moz-filter: blur(8px);
    -webkit-filter: blur(8px);
    filter: blur(8px);
    transform: scale(1.1);
}

.overlap-container {
	position: relative;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.game-profile-container {
	padding-top: 100px;
	position: relative;
	z-index: 2;
}

.main-content {
	padding: 5px;
}

.overlap-main-container {
	padding: 5px;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.3);
}
.side-content {
	padding: 5px;
}

.overlap-side-container {
	padding: 5px;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.3);
}

.game-cover {
	height: auto;
}
.overlap-side-info-container {
	text-align: center;
	margin-bottom: 35px;
}

.warp-icon-player {
	color: white;
	margin-right: 50px;
	text-shadow: 5px 5px 10px black;
	z-index: 2;
}

.warp-icon-critic {
	color: white;
	text-shadow: 5px 5px 10px black;
	z-index: 2;
}

h1, h2, h3 {
	margin: 0;
}

.game-profile-overlap-name {
	color: white;
	text-shadow: 4px 4px 10px black;
	margin: 0 auto 50px;
	text-align: center;
}

.game-profile-overlap-release-date, 
.game-profile-overlap-developer {
	text-align: center;
	color: white;
	padding-top: 10px;
}

.game-profile-overlap-developer {
	font-style: italic;
}

.overlap-rating-container {
	padding-top: 20px;
	text-align: center;
}

.overlap-rating-info-container {
	text-align: center;
}

.overlap-rating-info {
	display: inline-block;
	color: white;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.main-content-2,
.side-content-2 {
	padding: 5px;
}

.main-content-section-container,
.side-content-section-container {
	padding: 5px;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.3);
}