.price-list-section-container {
	background-color: rgba(0, 0, 0, 0.3);
	max-height: 600px;
	overflow: auto;
	padding: 5px;
}

.price-list-item-container {
	padding: 10px;
	border: 1px black solid;
}
.price-list-item-title {
	text-align: center;
}
.amazon-links {
	color: deepskyblue;
	cursor: pointer;
	text-decoration: none;
}

.amazon-links:hover {
	color: cyan;
}