.price-list-section-container {
	background-color: rgba(0, 0, 0, 0.3);
	max-height: 1200px;
	overflow: auto;
	padding: 5px;
}

.price-list-item-container {
	padding: 10px;
	border: 1px black solid;
}

.price-list-description-title {
	margin-bottom: 15px;
}

.price-list-exact-section-container, .price-list-similar-section-container {
	margin-bottom: 30px;
}

.price-list-item-title {
	text-align: center;
}

.price-display {
	margin-top: 10px;
	margin-bottom: 10px;
}

.amazon-links {
	color: gold;
	cursor: pointer;
	text-decoration: none;
	font-style: italic;
}

.amazon-links:hover {
	color: yellow;
}

.price-list-info {
	font-style: italic;
}