.side-content-section-container {
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	word-break: break-all;
}

label {
	font-weight: bold;
}

.website-links {
	text-decoration: none;
	display: block;
	color: deepskyblue;
}

.website-links:hover {
	color: cyan;
}