.user-profile-side-info-section-container {

}

.user-profile-side-info-section-wrapper {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

.user-profile-side-info-title {
	margin-bottom: 10px;
}

.fa-cog {
	display: inline-block;
	color: white;
	float: right;
	cursor: pointer;
	opacity: .3;
}

.fa-cog:hover {
	opacity: 1;
}