.user-profile-container {
	background-color: #003F63;
	min-height: 1000px;
}

.user-profile-info-container {
	background: radial-gradient(farthest-side at 50% -1000px, #d4eefc 1%, #006EAD 100%);
	padding: 20px;
	max-width: 1025px;
	margin: 0 auto;
	z-index: 1;
	border: 1px black solid;
	box-shadow: 3px 3px 20px black;
}

.user-profile-content-container {

}

